<div class="jumbotron">
  <h1>L.A. Computer Company</h1>
  <h5>LACC Login</h5>
  <p>
    User ID<br />
    <input class="form-control" placeholder="User ID"></input>
  </p>
  <p>
    Password<br />
    <input class="form-control" placeholder="Password"></input>
  </p>
</div>

<h3>Blank Forms</h3>
<%= link_to 'Service', service_service_index_path, type: "button", class: "btn btn-secondary" %>
<%= link_to 'LACC Back End', back_rmaindex_path, type: "button", class: "btn btn-secondary" %>
